.font-general {
  font-style: normal;
  font-family: "Montserrat";
}
.semibold {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
}
.bold {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
}
.light {
  font-weight: 300;
  font-style: normal;
  font-family: "Montserrat";
}
body {
  background: #f7f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shadoow {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.header {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  color: #46C583;
  font-size: 22px;
  text-align: center;
}
.round-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}
.camera-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 3px;
  bottom: 30px;
  right: -70px;
}
.dr-name {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  color: white;
  font-size: 18px;
  margin-top: -10px;
}
.dr-details {
  font-weight: 300;
  font-style: normal;
  font-family: "Montserrat";
  width: 200px;
  text-align: center;
  margin-top: 5px;
}
.table-heading {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  color: #6D6F71;
}
.table-data {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  font-size: 12px;
  color: white;
}
table {
  margin-top: 20px;
}
.button-text-sm {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  color: #2199D0;
  margin-top: 10px;
}
label {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  font-size: 14px;
  margin-left: 10px;
}
.long-input {
  width: 340px;
  height: 50px;
  background: white;
  border-radius: 10px;
  border: 0px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin: 20px 10px;
}
.short-input {
  width: 165px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin: 20px 0px;
  margin-right: 10px;
  background: white;
}
form {
  margin-top: 40px;
}
.button-primary {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-size: 24px;
  width: 186px;
  height: 55px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #2199D0, #46C583);
  margin-top: 20px;
}
.container {
  width: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #2199D0;
  border-radius: 5px;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #46C583;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.status {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.details-grid {
  display: flex;
  justify-content: space-around;
  width: 85%;
}
.data-name {
  font-family: "Montserrat";
  text-align: center;
}
.data {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
}
.icon-list {
  width: 25px;
  height: 25px;
  align-self: flex-end;
  position: relative;
  top: 20px;
  margin-right: 5px;
}
.btn-filter {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: #46C583;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  color: white;
}
.patient-hos-details {
  width: 90%;
  justify-content: space-between;
  margin-top: 20px;
  align-items: baseline;
  display: flex;
}
.hos-details-left {
  width: 180px;
  padding: 5px;
  border-radius: 10px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: white;
}
.hos-details-right {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 10px;
  height: 50px;
  background: white;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px;
  line-height: 2px;
}
.pp-img {
  width: 48px;
}
.pp-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 100px;
}
.bottom-nav-img {
  width: 27px;
}
.login-head {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  font-size: 40px;
  padding: 10px;
  color: white;
  margin-top: 10px;
}
hr {
  width: 128px;
  color: white;
  border: 1px solid white;
}
.or {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  color: white;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.social-media-icon {
  width: 25px;
}
.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 20px 20px;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  border-radius: 10px;
  margin-top: 15px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.social-media-fb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 20px 20px;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  border-radius: 10px;
  margin-top: 15px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: white;
  background: #3A5998;
}
.social-media-google {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 20px 20px;
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  border-radius: 10px;
  margin-top: 15px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: black;
  background: white;
}
.dr-img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 300px) {
  .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px 0px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .top-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
  }
  .grid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .details-container {
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #2199D0, #46C583);
    margin-top: 30px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px 0px;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .action-button {
    width: 120px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px 0px;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .action-button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc(50% - 20px);
  }
  .container-lg {
    width: 350px;
    display: flex;
    flex-direction: column;
    background: white;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 20px;
    border-radius: 10px;
  }
  .name-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: 20px;
  }
  .patient-name {
    font-weight: 500;
    font-style: normal;
    font-family: "Montserrat";
    font-size: 16px;
    color: #2199D0;
  }
  .indicator {
    width: 10px;
    height: 10px;
    background: #46C583;
    border-radius: 50%;
  }
  .filter {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 5px;
    margin-top: 30px;
  }
  .bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px 10px;
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border-top: 1.2px solid rgba(255, 255, 255, 0.59);
    border-left: 1.2px solid rgba(255, 255, 255, 0.59);
  }
  .bottom-nav div {
    align-self: center;
  }
  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 100px;
  }
  .login-form-container {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    background: #46C583;
    border-radius: 150px 0px 0px 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .remember-section {
    font-weight: 300;
    font-style: normal;
    font-family: "Montserrat";
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .remember-section label {
    font-weight: 500;
    font-style: normal;
    font-family: "Montserrat";
  }
  .remember-section .white-background {
    display: none;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 300px) and (min-width: 768px) {
  .details-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  table {
    width: 500px;
  }
}
